* {
    box-sizing: border-box;
}
body {
    margin: 0;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
}


/***********************************

                Typography

************************************/

h1, h2, h3, h4, h5 {
    margin: 0
}



/***********************************

                Layout

************************************/

.container-flex {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0 auto;
    width: 90%;
    text-align: center;
    align-items: center;
}

/* Navigation */

nav {

    padding: 1em 0;

}


.navbar-brand {
    color: black;
    font-size: 2em;
    font-weight: 700;
    text-decoration: none;
    margin: 0;
}

.navbar-nav {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
    margin-top: 1em;
    
}

.navbar-nav li {
    margin-left: 1.25em;
}

.navbar-nav a {
    text-decoration: none;
    font-size: 1.25em;
    padding: 0.25em;
    color: #707070;
}

.navbar-nav a:hover,
.navbar-nav a:focus {
    color: #005dc0;
}

@media (min-width: 900px) {
    .container-flex {
        flex-direction: row;
    }
}


/* Header */

header {
    background-image: url(./assets/banner.jpg);
    background-repeat: no-repeat;
    background-position: center;
    padding: 12em 0;
    position: relative;
    background-size: cover;
}

.banner-overlay {
    position: absolute;
    background-color: #212529;
    height: 100%;
    width: 100%;
    opacity: .3;
    top: 0;
    left: 0;
}

.banner-container {
    max-width: 1100px;
    text-align: center;
    position: relative;
    margin: 0 auto;
    padding: 0 5%;
    color: white;
}

.banner-text {
    margin-bottom: 3em;
}

.banner-text h1 {
    font-size: 2em;
}

.banner-signup-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 5%;
    line-height: 1.5;
}

.banner-signup-form input {
    display: block;
    flex-basis: 100%;
    width: 100%;
    padding: 0.5em 1em;
    margin: 0 5px;
    font-size: 1.5em;
    border-radius: 0.3em;
    border: 1px #f8f8f8;
    margin-bottom: 10px;
}

.banner-signup-form button {
    cursor: pointer;
    display: block;
    flex-basis: 60%;
    width: 100%;
    padding: 0.5em 1em;
    margin: 0 5px;
    font-size: 1.5em;
    border-radius: 0.3em;
    background-color: #007bff;
    border: 1px #007bff;
    text-align: center;
    color: white;
    margin-bottom: 10px;
}

.banner-signup-form button:hover,
.banner-signup-form button:focus {
    background-color: #005dc0;
    border: 1px #005dc0;
}

@media (min-width: 900px) {
    .banner-text h1 {
        font-size: 3.5em;
    }
    .banner-signup-form {
        flex-direction: row;
    }
}


/* Features */

.features {
    margin: 0 auto;
    width: 100%;
}

.tech, .travel, .food {
    display: flex;
    flex-wrap: wrap;

}

.features-image {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 30em;
    width: 100%;
}

.tech .features-image {
    background-image: url('./assets/laptop.jpg');
}

.travel .features-image {
    background-image: url('./assets/travel.jpg');
}

.food .features-image {
    background-image: url('./assets/food.jpg');
}

.features-text {
    padding: 7em;
    margin: 0 auto;
}

.features-text h3 {
    font-size: 2.5em;
    font-weight: 700;
}

.features-text p {
    font-size: 1.25em;
}


@media (min-width: 900px) {
    .tech, .travel, .food {
        flex-direction: row;
    }
    .features-image {
        flex-basis: 50%;
        max-width: 50%;

    }
    .features-text {
        max-width: 50%;
    }
    .travel .features-image {
        order: -1;
    }
}

/* Testimonials */




/* Footer */

footer {
    padding: 2em 0
}

.footer-main-links ul {
    list-style: none;
    display: flex;
    flex-direction: row;
}

.footer-main-links li  {
    margin-right: 1em;
}

.footer-main-links li a {
    text-decoration: none;
    color: #007bff;
    font-size: 1.25em;
}

.footer-main-links li a:hover,
.footer-main-links li a:focus {
    color: #005dc0;
}

.footer-main-copyright {
    margin-bottom: 1.5em;
}
.footer-main-copyright a {
    text-decoration: none;
    color: #707070;
}

.footer-main-copyright a:hover,
.footer-main-copyright a:focus {
    color: #222222;
    text-decoration: underline;
}

.footer-social ul {
    list-style: none;
    display: flex;
    flex-direction: row;
}

.footer-social li {
    margin-right: 1.5em;
}

.footer-social li a {
    color: #007bff;
}

.footer-social li a:hover,
.footer-social li a:focus {
    color: #005dc0
}


@media (min-width: 900px) {
    .footer-container {
        flex-direction: row;
    }
}