* {
    box-sizing: border-box;
}
body {
    margin: 0;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
}


/***********************************

                Typography

************************************/





/***********************************

                Layout

************************************/


/* Navigation */

nav {
    background-color: #f8f8f8;
    padding: 1em 0;

}

.container-flex {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0 auto;
    width: 90%;
    text-align: center;
    align-items: center;
}

.navbar-brand {
    color: black;
    font-size: 2em;
    font-weight: 700;
    text-decoration: none;
    margin: 0;
}

.navbar-nav {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
    margin-top: 1em;
    
}

.navbar-nav li {
    margin-left: 1.25em;
}

.navbar-nav a {
    text-decoration: none;
    font-size: 1.25em;
    padding: 0.25em;
    color: #707070;
}

.navbar-nav a:hover,
.navbar-nav a:focus {
    color: #1792d2;
}

@media (min-width: 720px) {
    .container-flex {
        flex-direction: row;
    }
}